.plan-price {
  font-size: 1.5rem;
  font-weight: 900;
  color: #026786;
  margin-top: auto;
}

.plan-price-amount {
  font-size: 1.5rem;
  font-weight: 900;
}

.plan-price-period {
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 0.25rem;
}

