@use './styles/animations' as *;

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('./assets/fonts/museo-sans-rounded/MuseoSansRounded500.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('./assets/fonts/museo-sans-rounded/MuseoSansRounded700.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

:root {
  font-family: 'Museo Sans Rounded', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light;
  color: #213547;
  background-color: #FCFCFC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FCFCFC;
  overflow-x: hidden;
  width: 100%;
}

