@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@import '../../styles/FormShared.scss';

// Subscription Form Container
.subscription-form-container {
  @include form-container-base;
}

.subscription-form-layout {
  @include form-layout-base;
}

// Subscription Plans
.plans-grid {
  @include grid-base(3, 1);
  margin-bottom: $spacing-md;
  align-items: stretch;
}

// Add-ons
.addons-list {
  @include grid-base(2, 1);
}

// Payment Form
.payment-form {
  max-width: 480px;
  width: 100%;
  box-sizing: border-box;

  @include mobile {
    max-width: 100%;
  }
}

.payment-note {
  font-size: $font-size-base;
  color: $color-text-tertiary;
  margin-top: $spacing-xs;
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
}

// Info Text
.form-info {
  padding: $spacing-xs $spacing-xl;
  border-radius: $input-border-radius;

  p {
    font-size: $font-size-xs;
    color: $color-text-primary;
    margin: $spacing-xs 0;
    line-height: $line-height-tight;
  }
}

.info-link {
  color: $color-accent;
  text-decoration: underline;
  font-weight: $font-weight-extrabold;

  &:hover {
    text-decoration: underline;
  }
}

